/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family:  Helvetica, Arial, sans-serif;
}

/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/

#main {

}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav{
    display: inline-block;
}

#nav, .subnav {
    list-style-type: none;
}

#nav > li {
    display: inline-block; /*inline-block ko kế thừa chiều ngang block cha của nó*/
}

#nav li {
    
    position: relative;
}

#nav > li > a { /*Lấy con trực tiếp của thẻ a cấp 1*/
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* transition: all 0.5s ease; */
}

#nav li:hover .subnav{ /*hover vào li appear subnav*/
    display: block;
}

#nav .subnav li:hover,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* #nav .subnav li{ 
    width: 100%;
} */

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/wallhaven-8x5jrj_1920x1080.png') top center / cover no-repeat;
    position: relative;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content {
    height: 1000px;
    background-color: #ccc;
}

#footer {

}
